@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600");

/* Remove Default Margin and paddings for all HTML elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS variables to use any where in website (if you want to change theme one change here will apply to entire website) */
:root {
    --heading : #393A56;
    --text : #7E7F85;
    --theme : #FD5353;
    --bg : #F7F8F9;
    --footerBg : #415161;
}
body {
    font-family: 'Poppins';
    overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
    color: var(--heading);
}

p {
    color: var(--text);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}
/* --- Header --- */
 
header {
    background-color: var(--bg);
    width: 100vw;
    height: 90vh;
 }

 .navbar {
    display: flex;
    justify-content: space-between;
 }

 .navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .navlinks li {
    
    margin: 0 20px;
  }

  .navlinks img {
    width: 50px;
  }

  .navlinks a {
    color: var(--heading);
  }

  .header-content {
    display: flex;
    align-items: center;
  }
   .header-content img {
    max-width: 90%;
  }
  .header-info{
    flex: 60%;
  }
  .line {
    width: 200px;
    height: 4px;
    background: var(--theme);
    border-radius: 5px;
  }

  .header-info h1 {
    font-size: 50px;

  }
  .header-info h3, .header-info p {
    margin: 15px 0;

  }
  .ctn {
    padding: 10px 16px;
    background: var(--theme);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 15px;
  }
  #categories {
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
  }
  .category {
    text-align: center;
  }
  #featured-products {
    margin: 80px auto;

  }
  .section-info {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
  }
  .products {
    display: flex;
    justify-content: space-between;
  }
  #offer {
    margin: 80px auto;
    background: var(--bg);
  }
  #offer .container {
    display: flex;
    align-items: center;
  }
  #offer .container img {
    max-width: 600px;
  }

  .offer-content h1 {
    font-size: 50px;
  }

  .white-section {
    background-color: #fff;
    text-align: center;
    
  }

.container-fluid {
    padding: 7% 15%;
    justify-content: space-between;
    
  }

.sec-line {
    width: 900px;
    height: 5px;
    background: var(--theme);
    border-radius: 5px;
}
input {
    width: 30%;
    height: 5%;
}

/* Style inputs with type="text", select elements and textareas */
#contact input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
#contact input[type=submit] {
  background-color:var(--theme);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
#contact input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contact .contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}